<div id="header">
	<h1><a href="/{{languagecode}}/">Daily Myths</a></h1>
	<ul class="nav">
		<li><a href="/about/">about</a></li>
		<li id="language-nav" class="open_">
			<a href="/language">change language</a>
			<ul id="languages">
				{{#nav}}<li><a href="/{{languagecode}}/{{../id}}">{{language}}</a></li>{{/nav}}
			</ul>
		</li>
	</ul>	
</div><!-- /header -->

<div class="block panel{{flipped}}{{selection}} {{dir}}" dir="{{dir}}" lang="{{languagecode}}">
	<div class="front" id="question">
	<h2>{{question}}</h2>
	{{#if inc_question}}
    	<link rel="stylesheet" href="/stylesheets/solar-system.css" />
		<div class="galaxy">
			<ol class="system">
				<li class="sun"><img alt="Sun" width="200%" height="200%" src="/images/img-scale-sun.png" ></li>
				<li class="mercury"><i><img alt="Mercury" width="50%" height="50%" src="/images/img-scale-mercury.png" ></i></li>
				<li class="venus"><i><img alt="Venus" width="50%" height="50%" src="/images/img-scale-venus.png" ></i></li>
				<li class="earth"><i><img alt="Earth" width="50%" height="50%" src="/images/img-scale-earth.png" ></i></li>
				<li class="mars"><i><img alt="Mars" width="50%" height="50%" src="/images/img-scale-mars.png" ></i></li>
				<li class="jupiter"><i><img alt="Jupiter" width="50%" height="50%" src="/images/img-scale-jupiter.png" ></i></li>
				<li class="saturn"><i><img alt="Saturn" width="50%" height="50%" src="/images/img-scale-saturn.png" ></i></li>
				<li class="uranus"><i><img alt="Uranus" width="50%" height="50%" src="/images/img-scale-uranus.png" ></i></li>
				<li class="neptune"><i><img alt="Neptune" width="50%" height="50%" src="/images/img-scale-neptune.png" ></i></li>
			</ol>
		</div>
  	{{else}}
    	<img src="/images/{{img_question}}" alt="">
  	{{/if}}
	<p>{{question_text}}</p>
	<div class="cta">
		<a class="button" href="/{{languagecode}}/{{id}}/yes" id="yes">{{yes}}</a>
		<a class="button" href="/{{languagecode}}/{{id}}/no" id="no">{{no}}</a>
	</div>
</div>
<div class="back{{clear}}" id="answer">
	<h2>{{answer}}</h2>
	{{#if inc_answer}}
    	<link rel="stylesheet" href="/stylesheets/solar-system.css" />
		<div class="galaxy">
			<ol class="system">
				<li class="sun"><img alt="Sun" width="200%" height="200%" src="/images/img-scale-sun.png" ></li>
				<li class="mercury"><i><img alt="Mercury" width="50%" height="50%" src="/images/img-scale-mercury.png" ></i></li>
				<li class="venus"><i><img alt="Venus" width="50%" height="50%" src="/images/img-scale-venus.png" ></i></li>
				<li class="earth"><i><img alt="Earth" width="50%" height="50%" src="/images/img-scale-earth.png" ></i></li>
				<li class="mars"><i><img alt="Mars" width="50%" height="50%" src="/images/img-scale-mars.png" ></i></li>
				<li class="jupiter"><i><img alt="Jupiter" width="50%" height="50%" src="/images/img-scale-jupiter.png" ></i></li>
				<li class="saturn"><i><img alt="Saturn" width="50%" height="50%" src="/images/img-scale-saturn.png" ></i></li>
				<li class="uranus"><i><img alt="Uranus" width="50%" height="50%" src="/images/img-scale-uranus.png" ></i></li>
				<li class="neptune"><i><img alt="Neptune" width="50%" height="50%" src="/images/img-scale-neptune.png" ></i></li>
			</ol>
		</div>
  	{{else}}
    	<img src="/images/{{img_answer}}" alt="">
  	{{/if}}
	<p class="{{fill}}">
		{{#if truth}}
    		<strong class="yes">{{correct}}</strong>
    		<strong class="no">{{wrong}}</strong>
  		{{else}}
    		<strong class="yes">{{wrong}}</strong>
    		<strong class="no">{{correct}}</strong>
  		{{/if}}
		 
		{{answer_text}}
	</p>
	<div class="cta">
		<a target="_blank" class="button" href="{{link}}" id="more">{{more}}</a>
		<a class="button" href="/{{languagecode}}/{{nextId}}" id="next">{{next}}</a>
	<div>
</div>


</div><!-- /content -->
